<div class="embed-video"><iframe src="{% for item in items %}{{ item.content|raw }}{% endfor %}?background=0&autoplay=0&mute=0&loop=0&color=FDB71B&title=0&controls=1" frameborder="0" allow="autoplay" allowfullscreen></iframe></div>
{% for item in items %}<h1>{{ item.content|raw }}</h1>{% endfor %}