:root {
  --white: #FCF9F3;
  --black: #000000;
  --green: #889933;
  --yellow: #EE9922;
  --red: #CC3300;
  --dkBrown: #664422;
  --brown: #AA9988;
  --ltBrown: #E6D9CC;
  --ltrBrown: #EEE5DB;
  --dkBrownRGBA: rgba(102, 68, 34, 0.8);
  --pageBG: #EEE5DB;
  --bodyBG: linear-gradient(0deg, #EEE5DB 0%, #FCF9F3 100%);
  --modalBG: linear-gradient(180deg, #FCF9F3 80.21%, #E6D9CC 100%);
  --bodyFont: dovetail-mvb, serif;
  --accentFont: chaloops,sans-serif;
  --globalTrans: all ease-in .25s;
  --tileSpacer: 3px;
  --keySpacer: 4px;
  --smPad: 10px;
  --mdPad: 20px;
  --lgPad: 30px;
  --maxWidth: 440px;
}


.btn-block {
  display: block;
  width: 100%;
}
#submit_button {
  @extend .btn-block;
}
.btn-default {
  color: #ffffff;
  background-color: $secondary;
  border-color: $secondary !important;
  transition: all ease .5s; 
  &:hover {
    color: darken($brand-secondary, 20%);
    border-color: darken($brand-secondary, 20%);
  }
}
.btn-success {
  color: #ffffff;
  background-color: $success;
  border-color: $success !important;
  transition: all ease .5s; 
  &:hover {
    color: darken($success, 20%)!important;
    border-color: darken($success, 20%)!important;
  }
}
.img-responsive {
  @extend .img-fluid;
}
.sr-only {
  @extend .visually-hidden-focusable;
}

body {
  font-family: var(--bodyFont) !important;
  color: var(--dkBrown) !important;
  background: var(--bodyBG);
  background-attachment: fixed;
  .main-container {
    padding-top: ($padding-large-vertical) ;
    padding-bottom: ($padding-large-vertical) ;
  }
  &.path-game {
    .main-container {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }
}
body[class^="path-gg_"] {
  background: #fcf9f4 !important;
  background-attachment: unset !important;
}


.container .container {
  max-width: 100%; 
}
.container-fluid {
	padding-left: $grid-gutter-width; 
	padding-right: $grid-gutter-width; 
}

// ========================================================================
// 2. TEXT, LINKS & TAGS
// ========================================================================
html {
  font-size: 14px;
  font-family: $font-family-serif;
  font-weight: 300; 
  @include media-breakpoint-up(sm) {
    font-size: 15px;
  }
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 17px;
  }
}



a:link, a:visited {
  color: var(--red) ;
}

a:hover, a:active {
  color: var(--red) ;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: 900;
  line-height: 1.1;
}
h1 {
  text-transform: none;
  text-align: center;
  color: var(--green);
}

h2 {
  text-align: center;
  width: 100%;
}

h3 {
  font-family: var(--bodyFont);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: var(--dkBrown);
  margin: var(--mdPad) 0  var(--smPad);
}

h4 {
  font-family: var(--bodyFont);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  color: var(--dkBrown);
}


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}
p.lead, div.lead p {
  font-size: $font-size-large; 
	line-height: 1.67; 
  color: $gray-dark; 
  @include media-breakpoint-up(lg) {
    font-size: 23px;
  }
}
p.small {
	font-size: $font-size-small; 
}
p.q {
	font-weight: 900; 
	color: $brand-secondary; 
	margin-top: 20px; 
	transition: all, ease .5s; 
	&:hover {
		color: $brand-primary; 
		cursor: pointer;
	}
	&.open {
		color: $brand-primary; 
    &:active,&:focus {
      color: $brand-primary; 
      cursor: pointer;
    }
		&:hover {
			color: $brand-secondary; 
			cursor: pointer;
		}
	}
}
p.a {
}
figcaption, .caption-text {
    font-style: italic;
    font-weight: 500;
    font-size: $font-size-small; 
    color: $gray-dark; 
}
.block-title {
  padding-top: 10px;
  border-top: solid 4px;
  text-align: center;
  font-weight: 700;  
}
a { 
  transition: all, ease .5s; 
  &:hover { 
   text-decoration: none;    
  }
}
.region.region-navigation-right {
   display: inline-block;
}
// Image handling
figure {
  @extend .col-sm-12 !optional;
  img {
    @extend .img-responsive !optional;
    padding: ($padding-large-vertical *2) 0 $padding-base-vertical;
  }
}
.inline-img-wrapper {
  margin: $padding-large-vertical  0; 
}
// eyebrows
.eyebrow {
  padding: 5px 0 5px;
  width: 100%;
  margin: 0 !important;
  // background-color: transparentize($brand-primary, .5);
  color: $gray;
  font-size: .9em;
  // font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}
// more link 
.more-link {
  font-weight: 700; 
}
// horizontal-list
.horizontal-list {
  font-weight: 700; 
  color: brand-secondary; 
}

// ------------------------------------------------------------------------
// BUTTON OVERRIDES
.xbtn { 
  // font-family: $font-family-serif; 
  //text-transform: lowercase;
  // padding: 2px 8px;
	letter-spacing: 0; // explicitly set to override NGP/EA/AN embeds 
	transition: all ease-in-out .5s; 
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 8px;
  font-size: 16px;
  line-height: 1.67;
  border-radius: 5px;
  &:hover {
    transform: scale(1.02);
  }
}
.btn-info, .bigradio .form-type-radio label:hover {
  color: #ffffff;
  background-color: #558;
  border-color: #4b4b78;
}

// ========================================================================
// 3. NAVIGATION
// ========================================================================
// most primary nav in nav.scss


// Breadcrumbs 
#block-bys-breadcrumbs {
	@extend .sr-only !optional;
}

// main nav

div#toolbar-administration {
  z-index: 100000000; 
}


.navbar-main.bg-t {
  background-color: transparent;
  transition: all ease .5s;
}

.navbar-main.bg-t.open, .navbar-main.bg-t.fade-in {
  background: $primary;
}
.navbar-main ul.menu {
  margin-top: calc(2 * $spacer);
  margin-bottom: calc(2 * $spacer);
  li {
    font-size: 36px;
    font-weight: 700;
     a {
        color: $white;
        transition: all 0.5s;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        &:hover {
          color: $secondary;
          transform: scale(1.12);
        }
     }
  }
}
.navbar-toggler {
  padding: 0;
  border: none;
  .fa-solid.fa-bars {
    font-size: 36px;
    color: $secondary;
    transition: all ease .5s;
    &:hover {
      color: $white;
    }
  }
  &.collapsed {
    .fa-solid.fa-bars {
      color: $white;
      &:hover {
        color: $secondary;
      }
    }
  }
  &:focus {
    box-shadow: none !important;
  }
}
// ------------------------------------------------------------------------
// SECONDARY NAVS

.menu.nav.social {
  margin: 0;
  li {
      // display: inline-block;
      a.fa span{
        display: none;
        font-family: $font-family-sans-serif; 
      &:before {
        display: inline-block;
        margin: 0;
        }
      &:hover { 
        text-decoration: none;
        background-color: $t;
        color: $brand-primary;
        }
      &:focus {
        text-decoration: none;
        background-color: $t;
        color: darken($brand-secondary, 20%);
      }
    }
  }
}

// ========================================================================
// 4. SYSTEM TEMPLATES
// ========================================================================

.page-container {
  //padding-top: 50px; // matches .shrink navbar height on interiors?
  width: 100%;
  margin-left: auto; 
  margin-right: auto; 
  //background-color: $gray-lighter;
	//background: linear-gradient(to bottom, $white, $gray-lighter 200px); 
  
  @include media-breakpoint-down(sm) {
    // padding-top: 60px;
  }
  // Action Block - 3 action btns at the bottom of some interiors
  article+nav{
    margin-top: 3em;
    padding-top: 3em;
    border-top: 5px solid $white;
  }
}
// Page header.
.page-header {
  margin-top: 0; 
}

.region-highlighted > div {
	background: $brand-warning; 
	border-radius: $border-radius-lg; 
	@extend .text-inverse !optional;
	padding: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width;
}

// ------------------------------------------------------------------------
// FOOTER
footer.main-footer-outer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $primary;
  @extend .text-inverse !optional;
  color: $white;
  p, ol, ul, li, a {
    font-weight: 400; 
    font-family: $font-family-sans-serif;
    color: $white;
  }
  .menu--footer-menu-fu .menu {
    //margin: 0 0 (3 * $padding-base-vertical) 0;
    padding-left: 0;
    text-align: center;
    li {
        display: inline-block; 
      &+li {
          border-left: 1px solid;
          margin-left: 15px;
          padding-left: 15px;
        }
      a {
        display: inline-block;
        padding: 0;
        text-decoration: underline;
        &:hover {
            background-color: $t;
            color: $brand-secondary;
        }
        &:focus {
            background-color: $t;
            color: darken($brand-secondary, 20%);
        }
      }
    }
  }
  .menu--social-fu .menu {
    //margin: 40px 0 (3 * $padding-base-vertical) 0;
    padding-left: 0;
    text-align: right;
    li { 
      font-size: 27px; 
      display: inline-block;
      &+li {
        margin-left: 15px; 
      }
      a {
        display: inline-block;
        padding: 5px; 
        line-height: 1.5; 
        font-size: 26px;
        span {
          transition: all ease .5s;
          &:hover{
            color: $brand-secondary; 
          }
        }
      }
    }
  }

  // generalized treatment for any menu placed in footer upper right
  .region-footer-upper-right nav {
    ul.menu.nav {
      @extend .nav-stacked !optional;
      &.Xsocial{
        li { 
          a span {
            display: none; 
            //padding-left: 5px; 
          }
          .fa::before {
            line-height: 1.5; 
          }
        }
      }
    }
    &#block-actions {
      .menu.nav li a {
        color: $brand-primary ; 
        &:hover {
          color: $brand-secondary;
          //@include scale(1.08); 
        }
        &.btn-donate {
          padding: 4px 6px; 
          display: block; 
          background: $brand-primary; 
          color: $white; 
          width: auto; 
          &:hover {
            box-shadow: 1px 2px 10px rgba(0,0,0,.5);
          }
        }
      }
    }
  }
	.region-footer-upper-left {
		padding: 0 0 15px; 
		@include media-breakpoint-up(sm) {
			padding: 30px 0 0; 
		}
		strong {
			text-transform: uppercase;
		}
	}
	.region-footer-center-center {
		padding: $grid-gutter-width 0; 
	}
	.site_by {
		text-align: center; 
		margin: 20px auto 0; 
		img {
			opacity: .25;
			transition: all ease-in-out .5s; 
			&:hover {
				opacity: 1; 
        //@include scale(1.2); 
			}
		}
	}
}

#block-disclaimer {
	p {
		color: transparentize($white, .5); 
	} 
}

 
// ========================================================================
// 5. BLOCK TEMPLATES
// ========================================================================

// ------------------------------------------------------------------------
// SITE WIDE BLOCKS

// Logo
.navbar-brand img {
  height: 80px;
  margin: 0;
  width: auto;
}


footer .footer-logo img {
  //margin: $grid-gutter-width auto;
	max-width: 160px; 
  @include media-breakpoint-down(sm) {
  }
  &:hover {
   filter: drop-shadow(0 0 10px rgba(255,255,255,0.2)); 
  }
}


.logo img {
  display: block; 
  margin: 0;
  transition: all ease-in-out .5s; 
}

.align-left {
  display: flex;
  justify-content: flex-start;
}
.align-center {
  display: flex;
  justify-content: center;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}


// ------------------------------------------------------------------------
// INTERIOR BLOCKS

// Breadcrumbs 
.breadcrumb {
  position: absolute;
  z-index: 100;
  background: transparent;
}

// page content - max line length for legibility on big screens
$max-width: 40em; // $max-width variable for text and top image
		article > .content > {
			.field--name-body  {
				> p.lead, 
				> p, 
				> h2, 
				> h3, 
				> h4, 
				> h5, 
				> ul, 
				> li {
						max-width: $max-width;
				}
			}
			.field--name-field-image img {
				width: $max-width; 
				height: auto; 
				max-width: 100%; 
			}
		}



// ========================================================================
// 6. FORM ELEMENTS
// ========================================================================

input#edit-zip, input#edit-zip--2 { 
  @include media-breakpoint-up(sm) {
    width: 120px;
  }
}
.js-form-item { // d8 contact form elements
	padding-bottom: $padding-large-vertical; 
}

/* PAGE SPECIFIC TWEAKS */

/* EA dressup */
// see ngp.scss
.at label {
  font-size: 1em !important;
  color: $gray !important;;
}
.at legend, .at fieldset legend {
  font-size: 1.25em !important;
  color: $gray !important;;
}

.at .content.thankYou {
  @extend .well !optional;
}



// Scoped Action Network forms: 
// Break out for live site
#can-form-area-issue-signup-test { 
	.js-form_builder_output { // Issue signup — temp hide issue select for demo
		display: none; 
	}
}
body.page-node-20 { // Volunteer Page
	#can_embed_form.can_float #form_col1, #can_embed_form.can_float #form_col2 {
		width: 100%; 
		float: none; 
	}  
	#can_embed_form {
		h2 {
			display: none; 
		}
		h4 {
			text-align: left; 
			padding-bottom: 0 ; 			
			letter-spacing: 0; 
			text-transform: none; 
			&::after {
				display: none; 
			}
		}
		label {
			font-size: 16px !important; 
		}
		.control-label {
			font-size: 18px; 
			letter-spacing: 0; 
			text-transform: none; 
		}
		.form_builder_output {
			margin-top: $grid-gutter-width/2; 
		}
	}
	#action_info {
		display: none ;
	}
}
body.page-node-type-action {
	.can_button, #can_embed_form input[type="submit"], #can_embed_form .button, #donate_auto_modal input[type="submit"], #donate_auto_modal .button {
		background-color: $brand-primary; 
		@extend .btn; 
		@extend .btn-primary; 
		text-transform: none; 
		@extend .btn-lg; 
	}
}

// ========================================================================
// 7. MISCELLANEAOUS
// ========================================================================

/* TILE DISPLAYS */
// Row lineups - see utilities
[class^="col-"] {
  &.views-row {
    margin-bottom: 20px; 
	  @include media-breakpoint-down(sm) {
		  margin-bottom: $grid-gutter-width * 1.5; 	
		}
    h3 {
     //font-size: 18px; 
      margin-top: 12px; 
			a {
				color: $brand-primary; 
				&:hover {
					color: $brand-secondary; 
				}
			}
    }
		h4 {
			font-size: 16px; 
		}
		img {
			@extend .img-responsive; 
		}
  }
}
/* Cards */
.card {
  //background-color: #fff;
  display: inline-block; 
  //box-shadow: 0 0 20px  transparentize($gray-darker, .8) ; 
  padding-bottom: $padding-large-vertical; 
  width: 100%; 
  min-height: 270px;
  margin-bottom: $grid-gutter-width;
  position: relative; 
  overflow: hidden; 
  transition: all ease-in-out .4s; 
  border: 1px solid $gray-lighter;
  h3, h4 {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
    transition: .5s all;
		line-height: 1.25; 
  }
  .summary {
    width: 100%;
    height: 100%;
    background: $brand-secondary;
    position: absolute;
    top: 100%;
    // opacity: 0; 
    transition: all ease-in-out .4s; 
    padding: $grid-gutter-width;
    color: $white; 
    font-weight: 500;
  }
  &:hover {
    // margin-top: -10px; 
    // margin-bottom: 40px; 
    &:hover {
      //@include scale(1.03); 
    }    
    .summary {
      // opacity: 1; 
      top: 0; 
    }
    h3, h4, .more-link {
      color: $brand-primary; 
    }
  }
  &.image-card {
    h3 { 
      color: $gray-lighter !important; 
      font-size: 19px;
      font-weight: 300; 
			position: absolute; 
			bottom: ($grid-gutter-width/2); 
			left: ($grid-gutter-width/2); 
			right: ($grid-gutter-width/2); 
      &:hover {
        color: $white;
      }
    }
    img {
      @extend .img-responsive;
			width: 100%; 
    }
  }
  &.text-card {
    background-color: transparentize($gray-darker, .8); 
    //background: linear-gradient($brand-secondary, lighten($brand-secondary, 10%) );
    //box-shadow: 0 0 20px  transparentize($gray-darker, .6) ; 
    //opacity: .9; 
    h3 { 
      color: $gray-lighter !important; 
      font-size: 26px;
      font-weight: 300; 
      &:hover {
        color: $white;
      }
    }
  }
}

/* NEWS */
// news cards overrides
.card.news-wrapper {
  padding: $padding-large-vertical*2 $padding-large-horizontal*2;
  min-height: 0;
	// border: none; 
	
  h3 {
    font-size: 27px; 
		padding: 0; 
  }
  p {
    transition: all 1s; 
    color: $gray-darker; 
  }
  a {
    color: $gray-darker; 
  }
}
// News Submenu
.region-content nav#block-mainnavigation {
	padding-bottom: $grid-gutter-width/2; 
	.menu.nav {
		margin-left: 0; 
		margin-right: 0; 
		li {
			display: inline-block; 
			font-size: 16px; 
			margin-right: 10px;
	    box-shadow: 2px 2px 10px transparentize($gray-dark, .85) ;
			a {
				background-color: #fff; 
				&:hover {
					background-color: $gray-light; 
				}
			}
		}
	}
}


// ADMIN MENU
bodyX {
  &.toolbar-horizontal {
    #navbar {
      margin-top: 38px !important;
    }	
		&.toolbar-tray-open {
	    @include media-breakpoint-up(md) {
				header#navbar { 
					margin-top: 79px !important; 
				}
			}
		}
		.toolbar-tray a {
			padding-right: .6em; 
		}
  }
  &.toolbar-vertical {
    #navbar {
      margin-top: 38px !important;
    }	
	#toolbar-administration {
		font-size: .8em !important; 
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      }
		}
  }
  #toolbar-administration, #toolbar-administration * {
    z-index: 10000;
  }
  .toolbar-lining {
      font-weight: 400;
  }   
} 

// TEMP for testing
nav.tabs { 
  // display: none; 
}

.disclainer {
  font-style: italic;
  p {
    font-style: italic;
  }
}
.footer-action {
  input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: $gray-300 !important;
  }
}


button {
  border: none;
  cursor: pointer;
  background: transparent;
}

button svg *{
  transition: var(--globalTrans);
}

button svg:hover circle {
  fill: var(--yellow);
}

.overlay button svg:hover circle {
  fill: var(--red);
}

a {
  display: inline-block;
}

a:hover {
  color: var(--dkBrown);
}

a, button {
  transition: var(--globalTrans);
}

a:hover, button:hover {
  transform: scale(1.15);
}

p + p {
  margin-top: var(--smPad);
}

p a:hover, #logo a:hover{
  transform: scale(1);
}

header#main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding-right: var(--mdPad);
  padding-left: var(--mdPad);
}

#header_animals {
  height: 72px;
  margin-right: auto;
}

#header_count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#header_count strong, #header_count em {
  text-shadow: 0 0 6px var(--white) ;
}

#header_count strong {
  display: block;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.05em;
  color: var(--red);
  margin: 5px 0px;
  font-family: var(--accentFont);
}

#header_count em {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 110%;
  text-align: center;
  color: var(--dkBrown);
  margin: 5px 0px;
  font-family: var(--bodyFont);
}

#main_header .button-set {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#game_container {
  position: relative;;
}

#game {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#message_container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50%;
}

#message_display p {
  margin: 0 0 10px 0;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--accentFont);
  color: var(--red);
  text-align: center;
  min-height: 26px;
  padding: var(--mdPad);
  border-radius: 15px;
  color: var(--white);
  background-color: var(--red);
  transition: var(--globalTrans);
  opacity: 1;
}

#message_display.fade p,
.fade {
  opacity: 0;
}

.show {
  opacity: 1 !important;
}

.fadeIn {
  opacity: 1 !important;
  animation: fadingIn 0.5s linear 1;
}

.overlay-container.fadeIn .overlay {
  animation: drop .7s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1;
}

.fadeOut{
  opacity: 0 !important;
  animation: fadingOut 0.5s linear 1;
}

div#debug {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  color: var(--red);
  opacity: .5;
}

#tile_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  padding-right: var(--mdPad);
  padding-left: var(--mdPad);
}

.tile-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  position: relative;
}

.tile-row.slide-left {
  animation: slide 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1;
}
.tile-row + .tile-row {
  margin-top: var(--tileSpacer);
}

.tile {
  font-family: var(--bodyFont);
  font-weight: 900;
  font-size: clamp(40px, 5vh, 48px);
  font-style: normal;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  color: var(--dkBrown);
  border: 2px solid var(--brown);
  background-color: transparent;
  border-radius: 15px;
  height: 7.8vh; /* was min-height:  60px; */
  max-height: 72px; 
  flex-basis: 20%;
  line-height: 100%; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;       
  align-items: center;
  justify-content: center;   
  align-content: center;
}

.tile.flip {
  animation: 0.5s linear xFlipping;
}

.incorrect {
  color: var(--ltBrown) !important;
  background-color: var(--brown) !important;
  -webkit-text-stroke-color: #9C8874 !important;
  border-color: #9C8874 !important;
}

.close {
  color: var(--white) !important;
  background-color: var(--yellow) !important;
  -webkit-text-stroke-color: #C59630 !important;
  border-color: #C59630 !important;
}

.correct {
  color: var(--white) !important;
  background-color: var(--green) !important;
  -webkit-text-stroke-color: #818830 !important;
  border-color: #818830 !important;
}


#keyboard_container {
  padding: 4vh 10px 15px;
  background: linear-gradient(180deg, rgba(170, 153, 136, 0) 0%, var(--ltBrown) 67.19%);
}

.keyboard-row, .key-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--keySpacer);
  touch-action: manipulation;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;    
}

#keyboard_container button {
  font-family: inherit;
  font-weight: 600;
  height: 5.5vh;
  max-height: 45px; 
  cursor: pointer;
  color:var(--dkBrown);
  background-color: var(--white);
  flex-grow: 1;
  text-transform: uppercase;
  border-radius: 4px;
  user-select: none;
  transition: var(--globalTrans);
}


#keyboard_container button + button {
 margin-left: var(--keySpacer);
}

#keyboard_container button#key_a{
  margin-left: 10px;
}

#keyboard_container button#key_l{
  margin-right: 10px; 
}


#keyboard_container button#key_delete, #keyboard_container button#key_enter {
  flex-grow: 1.5;
}

/* footer */
#footer_container {
  box-shadow: 0px -20px 20px rgba(170, 153, 136, 0.33); 
  position: relative;
}

#footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

#footer_animals {
  margin-top: -20px;
  width: 20%;
  .slide {
    width: 80px;
    &.block img {
      width: 100%;
      height: auto;
    }
  }
}

#footer_links {
  //margin-top: var(--mdPad);
  //min-height: 60px;
  width: 90%;
}

#lnk_action_wrap {
  list-style: none;
  text-align: left;
  li {
    text-align: left;
    list-style: none;
    display: none;
    &.active {
      display: block;
    }
  }
}
footer a,
#lnk_action_wrap a {
  font-family: var(--accentFont);
  color: var(--red);
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

#lnk_action_wrap li a {
  font-size: 14px;
  line-height: 16px;
}

footer a {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

#footer_links a:hover {
  color: var(--dkBrown);
  transform: none;
}

#footer_links strong + strong {
  margin-left: var(--smPad);
}

/* modals */
.overlay-container {
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: var(--dkBrownRGBA);
}

.overlay {
  position: relative;
  margin: 0 auto;
  padding: var(--mdPad);
  background: var(--modalBG);
  border-radius: 10px;
  max-width: var(--maxWidth);
}
@media (min-width: 1025px) {
  .overlay {
      margin: var(--lgPad) auto;
  }
}
.overlay header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--accentFont);
  margin-bottom: var(--mdPad);
}

#end_overlay_message {
  color: var(--yellow);
  font-family: var(--accentFont);
  margin-top: calc(-1 * var(--smPad));
  font-size: 22px;
  text-align: center;
}

#end_overlay_message strong {
  color: var(--green);
}

#adframe iframe {
  margin: 0 auto;
  display: block;
}

.help-tile-container {
  margin: var(--mdPad) 0 var(--smPad);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:  4px; 
}

.overlay footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--smPad);
}

#share_buttons {
  margin-top: var(--lgPad);
  margin-bottom: var(--lgPad); 
  display: flex;
  justify-content: center;
  a {
    margin-left: var(--smPad);
  }
}

#play_again {
  display: flex;
  justify-content: center;
  margin-top: var(--lgPad);
  margin-bottom: var(--lgPad);
}

#btn_play_again, a.btn_play_again {
  color: var(--white);
  background-color: var(--green);
  font-family: var(--accentFont);
  font-size: 20px;
  padding: var(--smPad) var(--mdPad);
  border-radius: 10px;
  transition: var(--globalTrans);
  text-decoration: none;
}

.img-r { 
  width: 100%;
  height: auto;
}

.disable {
  opacity: .5;
  cursor: default;
}

.rotator {
  .panels {
    position: relative;
    height: 100%;
    width: 100%;
  }
 .block {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    &.active {
      opacity: 1;
    }
  }
  .nav {
    display: none;
  }
  &.rotator-header img {
    height: 72px;
    width: auto;
  }
  &.rotator-footer img {
    height: 72px;
    width: auto;
  }
}

/* animations */
@keyframes xFlipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}

@keyframes yFlipping {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(90deg);
  }
  100% {
      transform: rotateY(0deg);
  }
}


@keyframes fadingIn {
  0% {
      opacity: 0;
  }
  50% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}

@keyframes drop {
  0% {
      top: -60vh;
  }
  100% {
      top: 0;
  }
}

@keyframes slide {
  0% {
      left: -120px;
      opacity: .5
  }
  33% {
      left: 0;
      opacity: .9
  }
  66% {
      right: -120px;
      opacity: .5
  }
  100% {
      left: 0;
      opacity: 1;
  }
}

@keyframes fadingOut {
  0% {
      opacity: 1;
  }
  50% {
      opacity: .5;
  }
  100% {
      opacity: 0;
  }
}

div#f_display_wrap {
  background: var(--white);
  padding: var(--lgPad) calc(var(--lgPad) * 2);
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    color: var(--black);
  }
}