#home_ani_text {
	position: fixed;
	height: 100vh;
	width: 100%;
	.inner {
		font-family: HaasDisp300;
		position: relative;
		height: 100vh;
		padding: 150px 0;
		margin: 0 100px;
		overflow-y: scroll; 
		overflow-x: hidden;
		-ms-overflow-style: none;  /* Internet Explorer 10+ */
		scrollbar-width: none;  /* Firefox */
		&::-webkit-scrollbar { 
			display: none;  /* Safari and Chrome */
		}
	}
	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 200px;
		background-image: linear-gradient(rgba(34, 34, 34, 1), rgba(34, 34, 34, 0));
		top: 0;
		z-index: 5;
	}
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 100%;
		height: 200px;
		background-image: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 1));
		bottom: 0;
		z-index: 5;
	}
	.line {
		width: 100%;
		cursor: pointer;
		font-size: 48px;
		font-weight: 100;
		&:hover {
		}
		&.link a {
			display: block;
			color: var(--white);
			transition: all ease-in .3s;
			text-decoration: none;
			.fal {
				opacity: 0;
				transition: all ease-in .6s;
				padding-left: 10px;
				font-size: 48px;
			}
			&:hover {
				color: var(--bus);
			}
		}
		&.lit a {
			color: var(--bus);
			margin-left: 100px;
			.fal {
				opacity: 8;
			}
		}
		&:not(.lit) a {
			margin-left: 0;
		}
	}
}
#home_ani_text
#home_ani_bgs {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
#home_ani_bgs {
	.bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -2;
		img {
			opacity: 0;
			filter: blur(6px); /* may be better to do these as bg images to avoid soft edges */
			transition: all ease-in-out .6s;
			width: 100%;
			height: auto;
			&.lit {
				opacity: .7;
			}
		}
	}
}