// ------------------------------------------------------------------------
// NAVBAR TOGGLE

#navbar_toggle {
  //@extend .d-lg-none;
  display: block;
  margin: 0 0 0 auto;
  padding: 6px 12px;
  color: $white;
	//background: $gray-dark; 
  border: none;
  font-size: 36px;
  &:not(.collapsed) {
    .fa-bars {
      display: none;
    }
  }
  &.collapsed {
    .fa-times {
      display: none;
    }
  }
  .fa-times {
    color: $gray-darker; 
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}
// ------------------------------------------------------------------------
// HEADER 

#navbar {
  background:  transparent;
  transition: all .5s ease-in-out; 
  margin-bottom: 0; 
  border: none !important; 
  max-width: $max-page-width; 
  > .container {
    position: relative; 
  }
  &.in { // open for mobile
    background-color: $gray-lighter;
  }
}
div#navbar-collapse.collapsing, div#navbar-collapse.show { // open for mobile
  background-color: transparent;
}
// ------------------------------------------------------------------------
// NEW SIMPLER TOPNAV
/*
DOM
.navbar-header
  .navbar-header-left
    .region-navigation-left
  .navbar-header-right
    .region-navigation-right
      nav
        .menu.nav.main-nav
                  li (.expanded .dropdown)
                    a
*/
.navbar-header {
  .navbar-header-left {
    .region-navigation-left {
    }
  }
  .navbar-header-right {
    padding-right: 0; 
    .region-navigation-right {
      nav {
        // margin-right: $padding-large-horizontal;
        display: block;
        float: right;
        @include media-breakpoint-down(sm) {
          display: none;
        }
        .menu.nav.main-nav {
          li { // (.expanded .dropdown)
            a {
              font-size: 16px;
              text-transform: uppercase;
              text-decoration: none;
              font-weight: 600;
              line-height: 50px; 
              transition: all, ease, .5s; 
              display: block; 
              padding: 0 10px;
              color: $white;
              background-color: transparent;
              &:hover {
                color: $primary; 
                background-color: transparent;
              }
              &.is-active { 
                color: $white !important;
                text-decoration: underline; 
                text-shadow: 0 0 10px rgba(0,0,0,.5); 
                background: transparent !important;
              }
            }
            &.expanded.dropdown {
              display: block; 
              padding: 0;
              &.open {
                background: lighten($primary, 5%); 
                color: $white; 
                border-radius: $border-radius $border-radius 0 0 ;
                .dropdown-menu {
                  border: none; 
                  padding: 0;
                }
              }
              li.expanded.dropdown {
                width: 100%;  
              }
              a {
                display: block; 
              }
            }
          }
        }
      }
    }
  }
}
// ------------------------------------------------------------------------
//  NAVBAR COLLAPSE (mobile)
/*
DOM:
#navbar-collapse (+.collapse)
  .navbar-collapse-left
    .region.region-navigation-collapsible
      nav#block-ceoc-main-mobile
        ul.menu.nav.main-nav
                  li (.expanded .dropdown)
                    a
*/
#navbar-collapse {
  border: none; 
  transition: all ease .3s;
  width: 100%;
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &.collapse {
    //display: none!important;
  }
  .navbar-collapse-left {
    .region-navigation-collapsible {
      nav {
        .menu.nav.main-nav {
          display: block;
          li {
            // margin-bottom: 10px; 
            float: none;
            font-size: 24px; 
            text-align: left;
            a {
              // font-size: 18px;
              //text-transform: uppercase;
              text-decoration: none;
              font-weight: 400;
              line-height: 50px; 
              transition: all, ease, .5s; 
              display: block; 
              padding: 0 10px;
              color: $gray-darker;
              &:hover {
                color: $primary; 
                background-color: transparent;
              }
            }
            &:last-child a {
              color: $primary; 
              font-weight: 600; 
            }
            &.open {
              a {
                color: $white;
                background-color: $secondary; 
                margin-right: -20px;
                margin-left: -20px;
              }
              .dropdown-menu {
                position: relative;
                float: none;
                margin-top: 0;
                margin-right: -20px;
                margin-left: -20px;
                background-color: $secondary;
                li {
                  a {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}