// Color system
$t: transparent;

$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #999 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #222 ;

$white:      #fff ;
$gray-dark:  #666 ; 
$gray-light: #999 ; 
$black:      #000 ;

$grays: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$primary:	#0074d9 ;
$danger:	#ff4136 ;
$black:	#000000 ;
$warm_white:	#fef5ea ;
$white:	#ffffff ;
$red:	#eb0029 ;
$pink:	#e70095 ;
$purple:	#8531a7 ;
$lavander:	#455cc7 ;
$blue:	#0093da ;
$aqua:	#009b77 ;
$green:	#00af39 ;
$lime:	#82bc00 ;
$bus:	#ffb819 ;
$amber:	#ff8800 ;
$orange:	#ff6200 ;
$switzerland:	#ff3c00 ;
$theme-colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
	"primary":		$primary,
	"danger":		$danger,
	"black":		$black,
	"warm_white":	$warm_white,
	"white":		$white,
	"red":			$red,
	"pink":			$pink,
	"purple":		$purple,
	"lavander":		$lavander,
	"blue":			$blue,
	"aqua":			$aqua,
	"green":		$green,
	"lime":			$lime,
	"bus":			$bus,
	"amber":		$amber,
	"orange":		$orange,
	"switzerland":	$switzerland
  ),
  $theme-colors
);

$body-bg:		$black; //theme-color("black") ;
$body-color:	$white; //theme-color("white") ;

$font-family-sans-serif: HaasText300,Arial,Helvetica,Microsoft Yahei,sans-serif ;
$font-family-serif: Garamond,Georgia,Times New Roman,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,serif ;

// bs4 uses inline clasees for whitespace
// not sure the best way to go here, so creating bs3-style padding vars
$padding-base: 10px;
$padding-large-base: 20px;
$padding-large-horizontal: $padding-large-base;
$padding-large-vertical: $padding-large-base;